.container_project {
    padding-bottom: 100px;

    h2 {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 4vh;

        strong {
            display: block;
        }

    }

    .projects_list {
        
        .project {
            margin-bottom: 2vh;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
            position: relative;
            width: 280px;
            
            a {
                // width: 100px;
                // height: 150px;
                // position: relative;
                // &:hover{
                //     color: #fff;
                // }

                img {
                    width: 100%;
                    height: 100%;
                    // position: absolute;
                }

                .hover_content {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    color: white;
                    padding: 20px;
                    text-align: center;
                    transition: all .5s ease-in;

                }

                .coment {
                    transition: all .5s ease-in;

                }

                &:hover .hover_content {
                    opacity: 1;
                    visibility: visible;
                }

                &:hover .coment {
                    opacity: 0;
                }
            }
        }
    }


}